*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: 'Roboto', sans-serif;
}
body{
  
   background-color: #fece0c;
}
.wrapper{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    
    background: #fff;
    padding: 25px;
    border-radius: 5px;
    box-shadow: 4px 4px 2px rgba(254, 236, 164, 1);
}
.wrapper h2{
    text-align: center;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #332902;
}
.wrapper .input_filed{
    margin-bottom: 10px;
}
.wrapper .input_filed input{
    width: 100%;
    border: 1px solid #e0e0e0;
    padding: 10px;
}
.wrapper .btn input[type="submit"]{
    border: 0;
    margin-top: 15px;
    padding: 10px;
    width: 100%;
    background: #fece0c;
    color: #332902;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 3px;
    border-radius: 20px;
    cursor: pointer;
}
.wrapper #error_message{
    margin-bottom: 20px;
    padding: 0px;
    background: #fe8b8e;
    font-size: 14px;
    transition: all 0.6s ease;
    text-align: center;
}